.pageControlContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.controlContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 
}

.thumbContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto 3em;
	text-align:center;
	min-height: 12em;
}

.thumb {
	margin: 0.4em;
	cursor: pointer;
}
.photo {
	border-radius: 0.35em;
}

.btn {
	display: block;
	width: 150px;
	padding: 8px 0;
	background: #4979ff;
	border: none;
	border-radius: 4px;
	color: white;
	text-align: center;
	cursor: pointer;
	font-family: "Nunito";
	font-size: 1em;
}

.imgPlaceholder {
	width: 100px;
	height: 100px;
	border: 1px solid darkslategray;
}
.imgPlaceholderCaption {
	min-height: 1.9em;
	height: 1.9em;
}

.leftItem {
	justify-self: start;
}
.rightItem {
	justify-self: end;
}